<div id='top'>
  <header>
    <h1>
      <a href="/">Wake my dyno</a>
    </h1>
  </header>
  <section id='social'>
    <a href='https://twitter.com/#!/wakemydyno' class='twitter'>twitter</a>
  </section>

  <section id='cute_dyno'>
    <span class='arrow'></span>
    <span id='talks' data-answers="huh..|ROAR?|Hi!|yeeey!|need sleep.."></span>
    <a href=''>
      <span class='eyes'></span>
    </a>
  </section>


  <section id='registration'>
    <%= form_for(@url) do |f| %>
        <h2>Tired of long initial webpage loading time on Heroku?</h2>

        <p>We will ping your web page every hour, keeping your app dyno up and ready!</p>
        <ul>
          <% if @url.errors.any? %>
              <% @url.errors.full_messages.each do |msg| %>
                  <li class='error'>- <%= msg %></li>
              <% end %>
          <% else %>
              <% if notice.present? %>
                  <li class='ok'>- <%= notice %></li>
              <% else %>
                  <li>- create file: <strong>http://yoursite.com/wakemydyno.txt</strong></li>
                  <li>- register your site:</li>
              <% end %>
          <% end %>
        </ul>

        <%= f.text_field :address %>
        <%= f.submit 'submit' %>
    <% end %>
  </section>
  <br class='clear'/>
</div>
<div id='bottom'>
  <span id='grass'></span>

  <div id='bottom_center'>
    <cite>My dynozaur felt asleep... again...</cite>

    <section id='right_text'>
      <h5>How it works</h5>

      <p>wakemydyno.com provides a very simple mechanism preventing your dyno from falling asleep: we will ping your
        site periodically!<br/>
        <strong>No registration</strong> is needed, however we will ask you to create a <span>wakemydyno.txt</span> file
        under the root url of your site. Our crawler will hit this file, keeping the dyno <strong>active</strong>.<br/>
        <br/>
        If <strong>you decided</strong> to stop being pinged, just delete <span>wakemydyno.txt</span> file and after a
        couple of days we will drop your site from our pinging list. That <strong>simple!</strong></p>
    </section>

    <section id='left_text'>
      <h5>About</h5>

      <p>We all know how awesome <strong>Heroku</strong> is. Simplicity in creating environments for your rails, java,
        python or php application is just unbelievable.<br/>
        Create, deploy, BOOM! Your new app is ready, up and running! But if your site is powered by
        <strong>only 1 dyno</strong>, you will quickly <strong>notice</strong> that after a few hours of app's
        inactivity,
        it's first launch <strong>takes ages and ages</strong>... It is because your dyno was sleeping and now it has to
        be awaken.</p>
    </section>

    <section id='center_text'>
      <h5>Dynopoker gem</h5>

      <p>Recently in our dyno labs <strong>we have started</strong> the dynopoker gem project. Dynopoker is a
        <strong>gem</strong> which prevents your Heroku dyno from falling asleep. The main idea is to launch a separate
        thread that will <strong>ping</strong> your site every hour, just like this site does.<br/>
        Please visit gem's github page and read the readme for more info:<br/>
        <a href="https://github.com/kubenstein/dynopoker">https://github.com/kubenstein/dynopoker</a></p>
    </section>

    <br class='clear'/>
  </div>
  <footer>copyright <span>©</span> wakemydyno.com</footer>
  <div id='iphone_fixer'></div>
</div>