<%= form_for(@ping) do |f| %>
  <% if @ping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ping.errors.count, "error") %> prohibited this ping from being saved:</h2>

      <ul>
      <% @ping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :mark_for_deletion %><br />
    <%= f.check_box :mark_for_deletion %>
  </div>
  <div class="field">
    <%= f.label :counter %><br />
    <%= f.number_field :counter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
